name: Generate Pacman Contribution Graph

on:
  schedule:
    - cron: "0 0 * * *"   # runs daily
  workflow_dispatch:

permissions:
  contents: write

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Pacman graph
        uses: maurodesouza/profile-readme-generator@main
        with:
          github_username: KrishVerma6797

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
